@model TestModel
@{
    ViewData["Title"] = "Home Page";
}


<form method="post">
    <div class="form-group">
        <label asp-for="StringProp"></label>
        <input asp-for="StringProp" class="form-control" />
        <span asp-validation-for="StringProp"></span>
    </div>
    <div class="form-group">
        <label asp-for="IntProp"></label>
        <input asp-for="IntProp" class="form-control" />
        <span asp-validation-for="IntProp"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegexProp"></label>
        <input asp-for="RegexProp" class="form-control" />
        <span asp-validation-for="IntProp"></span>

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>
